<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70101252138-udb12rr32rpfh3426u2thls8p48t6d8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70101252138-udb12rr32rpfh3426u2thls8p48t6d8r</string>
	<key>API_KEY</key>
	<string>AIzaSyBqCxcIuniOzNGo2xtnywaRca7ndqTrc28</string>
	<key>GCM_SENDER_ID</key>
	<string>70101252138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>parkjonghun.SwiftUI-Chat-Project</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-f56a1</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-f56a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70101252138:ios:2d0306fb58320f7918ab53</string>
</dict>
</plist>